<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.davidsword</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>37DE1E40-7445-47FE-9971-4D62834D5CB6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76762EED-2771-4DE5-BFD0-928D241173C6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>76762EED-2771-4DE5-BFD0-928D241173C6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C43EB30F-60E5-4F19-80C9-2899F9AA1D22</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C43EB30F-60E5-4F19-80C9-2899F9AA1D22</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4500A159-1E64-4592-B12E-A6779D1BD49E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>David Sword</string>
	<key>description</key>
	<string>Use keyboard shortcuts to markup text to markdown</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Alfred Markdown</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>$text = getenv( 'text' );
$link = getenv( 'link' );

echo "[{$text}]({$link})";</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C43EB30F-60E5-4F19-80C9-2899F9AA1D22</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>4500A159-1E64-4592-B12E-A6779D1BD49E</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>40</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>K</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>37DE1E40-7445-47FE-9971-4D62834D5CB6</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>link</key>
					<string>{clipboard:1}</string>
					<key>text</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>76762EED-2771-4DE5-BFD0-928D241173C6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>37DE1E40-7445-47FE-9971-4D62834D5CB6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>50</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>4500A159-1E64-4592-B12E-A6779D1BD49E</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
		<key>76762EED-2771-4DE5-BFD0-928D241173C6</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>215</integer>
			<key>ypos</key>
			<integer>75</integer>
		</dict>
		<key>C43EB30F-60E5-4F19-80C9-2899F9AA1D22</key>
		<dict>
			<key>colorindex</key>
			<integer>2</integer>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>45</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/davidsword/</string>
</dict>
</plist>
